appdirs==1.4.3
asn1crypto==1.2.0
atomicwrites==1.1.5
attrs==19.3.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
coverage==4.5.4
cryptography==2.8
furl==2.1.0
idna==2.8
more-itertools==8.0.0
orderedmultidict==1.0.1
packaging==19.2
peewee==3.12.0
pluggy==0.13.1
py==1.8.0
pyasn1==0.4.8
pycparser==2.19
pyparsing==2.4.5
pyscrypt==1.6.2
pytest==5.3.1
pytest-cov==2.8.1
python-dateutil==2.8.1
requests==2.22.0
six==1.13.0
urllib3==1.25.7
vobject==0.9.6.1
